<div class="row">
    <div class="span12">

        <div class="row">
            <div class="span12">
                <div id="breadcrumb">
                    <ul>
                        <li>Política de Direitos Autorais</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row show-grid clear-both">
            <div class="span12">
                <article>
                    <p>Para registrar uma reclamação sobre violação de direitos autorais, por favor envie um email para abuse@insigndigital.com.br seguindo as orientações abaixo:</p>
                    <ol>
                        <li>Informe detalhadamente o trabalho/projeto protegido por direitos autorais, para qual você está submetendo o pedido a cima. Você pode incluir a URL original, o ISBN e o título, ou a ainda uma prova do trabalho (imagens, títulos, nomes).</li>
                        <li>Identifique o material que você alega estar infringindo os direitos do proprietário.</li>
                        <li>Incluir sempre que possível, exemplos das obras, pode ser cópia do material em Impresso, PDF ou Imagem.</li>
                        <li>Forneça todas as informações de contato, do proprietário da obra, ou representante legal, ou ambos.</li>
                        <li>Incluir uma declaração formal com uma assinatura electrônica ou física.</li>
                    </ol>
                    <div class="alert alert-note">
                        <h2>Exemplo de Declaração Formal</h2>
                        <p>Declaro que [NOME] é o proprietário dos direitos exclusivos acima referenciado e que estou autorizado a agir em seu nome. Declaro também que estou agindo de boa fé e que o uso do conteúdo da forma reclamada não é autorizada pelo [NOME], seus representantes legais ou a lei.</p>
                        <p>Declaro assinar digitalmente esta mensagem de correio electrônico, e afirmo que as informações contidas nesta notificação são verídicas, sob a pena de perjúrio pelas leis da nossa Federação.</p>
                    </div>
                </article>
            </div>
        </div>

    </div>
</div>