<div class="row">
    <div class="span12">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <img src="img/estabilidade.png" alt="Segurança estabilidade com 99% de uptime e suporte especializado 24 hora por dia." />
                    <div class="caption slide-1">
                        <h2>Atendimento</h2>
                        <p>Nosso suporte técnico especializado estão disponíveis 24 horas por dia.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row show-grid">
    <div class="span12" data-original-title="">

        <div class="clear_both"></div>
        <div class="col-wrapper">
            <div class="row show-grid">


                <div class="contact-info span4">
                    <h2>Sobre</h2>
                    <address>
                        <p>
                            O <span style="font-size: 14px; font-weight: bold;">Insign Digital</span> é uma empresa virtual de hospedagem cloud, estabelecida desde 2009 e comprometida com seus cliente.
                        </p>
                        <p>
                            Cobrança: <a href="mailto:cobranca@insigndigital.com.br">cobranca@insigndigital.com.br</a><br />
                            Privacidade: <a href="mailto:privacidade@insigndigital.com.br">privacidade@insigndigital.com.br</a><br />
                            Direitos Autorais: <a href="mailto:abuse@insigndigital.com.br">abuse@insigndigital.com.br</a>
                        </p>
                        <!--                        <br />
                                                <p>
                                                    <a href="http://www.digitalocean.com" title="DigitalOcean™, Inc" target="_blank">
                                                        <img src="img/digitalocean-badge-black.png" alt="DigitalOcean™, Inc">
                                                    </a>
                                                </p>-->
                    </address>
                </div>

                <div class="contact-form span8">
                    <h2>Informações, dúvidas, críticas e sugetões</h2>

                    <!-- if ($mensagem_enviada != "") env -->
                    <div class="alert alert-success"> <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <h4>Sucesso!</h4>
                        <p>Sua mensagem foi enviada, e em breve retornaremos seu contato...</p>
                    </div>
                    <!-- else env -->
                    <!-- if ($mensagem_erro != "") enverr -->
                    <div class="alert alert-error"> <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <h4>Ops!</h4>
                        <p>Sua mensagem não foi enviada, verifique as informações e tente novamente...</p>
                    </div>
                    <!-- end enverr -->
                    <!-- end env -->

                    <form id="validForm" method="POST" action="">
                        <div class="row">

                            <div class="control-group span3">
                                <label class="control-label" for="nome">Seu nome<sup>*</sup></label>
                                <div class="controls">
                                    <input type="text" class="span3" id="nome" name="nome" placeholder="Nome">
                                    <span class="help-inline">Insira seu nome.</span>
                                </div>
                            </div>
                            <div class="control-group span3">
                                <label class="control-label" for="assunto">Assunto <sup>*</sup></label>
                                <div class="controls">
                                    <input type="text" class="span3" id="assunto" name="assunto" placeholder="Assunto">
                                    <span class="help-inline">Especifique o assunto.</span>
                                </div>
                            </div>
                            <div class="control-group span3">
                                <label class="control-label" for="email">E-mail<sup>*</sup></label>
                                <div class="controls">
                                    <input type="text" class="span3" id="email" name="email" placeholder="E-mail">
                                    <span class="help-inline">E-mail incorreto.</span>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="mensagem">Sua mensagem<sup>*</sup></label>
                            <div class="controls">
                                <textarea rows="4" class="span8" id="mensagem" name="mensagem"></textarea>
                                <span class="help-inline">Insira sua mensagem.</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"></label>
                            <div class="controls">
                                <script type="text/javascript">
                                    var RecaptchaOptions = {
                                        custom_translations : {
                                            instructions_visual : "Escreva as duas palavras:",
                                            instructions_audio : "Transcreva o que você ouviu:",
                                            play_again : "Reproduzir a faixa de áudio",
                                            cant_hear_this : "Baixar a faixa em formato MP3",
                                            visual_challenge : "Modo texto",
                                            audio_challenge : "Modo audio",
                                            refresh_btn : "Obter duas novas palavras",
                                            help_btn : "Ajuda",
                                            incorrect_try_again : "Incorreta. Por favor, tente novamente."
                                        },
                                        lang : 'pt', // Unavailable while writing this code (just for audio challenge)
                                        theme : 'clean' // Make sure there is no trailing ',' at the end of the RecaptchaOptions dictionary
                                    };
                                </script>
                                <!-- decode($recaptcha) -->
                            </div>
                        </div>
                        <button type="submit" class="btn-theme">Enviar</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>