<div class="row">
    <div class="span12">

        <div class="row">
            <div class="span12">
                <div id="breadcrumb">
                    <ul>
                        <li>Política de Utilização de E-mail</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row show-grid clear-both">
            <div class="span12">
                <article>
                    <p>
                        Há um limite de 500 envios de email por hora, por domínio. Esse limite também se aplica ao Webmail.
                        Se você fizer um número de envios maior do que o limite horário, a maioria dos emails vai retornar com um erro de entrega.
                        Se isso ocorrer, levará algum tempo para sua conta conseguir enviar emails novamente. Recomendamos que espere ao menos 1 hora (após o problema começar a ocorrer) antes de tentar enviar emails novamente.
                    </p>
                    <p>
                        Muitos dos nossos servidores têm um limite de 30 checagens POP3/IMAP por hora, por conta de email.
                        Se esse limite for ultrapassado, o seu cliente de emails provavelmente vai retornar uma mensagem acusando erro de senha ou de login.
                        Caso isso aconteça, por favor espere 1 hora até que o servidor desbloqueie seu endereço IP.
                        Para evitar que isso volte a acontecer, desabilite as checagens automáticas do seu cliente de email, ou pelo menos configure-o para que sejam feitas com um intervalo de no mínimo 10 minutos entre cada checagem.
                    </p>
                    <p>
                        Para poder utilizar listas de email com mais de 5000 contatos, você precisará de um servidor dedicado.
                        Dividir seus contatos em várias listas menores não é permitido.
                        Tenha em mente que emails possuem informações de cabeçalho (header), e que o header fornece dados sobre o email, seu conteúdo e destinatário.
                        Averiguamos o tamanho das listas não somente a partir do assunto do email, mas também a partir das informações de cabeçalho, de modo que podemos detectar listas dividas com facilidade.
                    </p>
                    <p>
                        Também há limites de número de listas de email do Webmail, conforme listado abaixo.
                        Note que esses limites se aplicam somente ao Webmail.
                        Não há limites de número de listas para outros programas de listas de email, como o PHPList, por exemplo.
                    </p>
                    <div class="underlined-title">
                        <h2>Regras para o uso de listas de email</h2>
                        <div class="text-divider5"><span></span></div>
                    </div>
                    <p>
                        Independentemente do tamanho da sua lista de emails, você jamais deve enviar sua mensagem para todos os destinatários de uma vez só: é preciso regular os envios de um modo que o limite horário não seja ultrapassado.
                        Nós recomendamos que configure seu script de mailing para enviar no máximo 1 email a cada 8 segundos.
                        Com essa regulagem, você estará enviando 450 emails ao longo de 1 hora, mantendo sua conta abaixo do limite horário de 500 envios.
                        Se o script de maling que você estiver utilizando não permitir regular a periodicidade dos envios, você precisará trocar para um script que permita.
                    </p>
                    <p>
                        Se você não configurar o seu aplicativo de mailing para regular a periodicidade dos envios, e tentar enviar uma mensagem para 500 destinatários, o servidor tentará fazer os 500 envios de uma vez só – o que não é possível em nossos planos de hospedagem, pois causará uso excessivo da capacidade de processamento do servidor (load excessivo).
                        Consequentemente, o servidor como um todo ficará lento, afetando o acesso aos seus sites e seu serviço de hospedagem em geral.
                        Nosso trabalho é manter os servidores operando em plena capacidade, de modo que qualquer conta que cause instabilidade e lentidão será suspensa, e os envios iniciados a partir dessa conta serão interrompidos.
                        Reiteramos: se você escolher não regular o envio de emails, sua conta pode ser suspensa.
                    </p>

                    <p>
                        Para evitar load excessivo nos nossos servidores, o envio de mensagens para qualquer lista com mais de 900 contatos só pode ser feito fora dos horários de pico.
                        Não são horários de pico os seguintes períodos:
                    </p>

                    <ol>
                        <li>Segunda a sexta-feira, entre 1 e 8 da manhã (horário de Brasília).</li>
                        <li>Sábados e domingos, o dia todo.</li>
                    </ol>

                    <p>
                        O método de obtenção dos contatos da lista precisa ser <a href="http://engage.acma.gov.au/double-opt-in-for-express-consent/" target="_blank">Double Opt-In</a>.
                        Isso significa que os usuários da sua lista de emails se inscrevem na newsletter ou campanha de email marketing requisitando explicitamente que seus emails sejam incluídos, e confirmando seus endereços de email.
                        A confirmação geralmente é feita respondendo a uma mensagem de notificação enviada para o endereço de email que o usuário especificou.
                    </p>
                    <p>
                        O método double opt-in elimina um caso típico de abuso, no qual alguém cadastra o endereço de email de outra pessoa numa newsletter ou campanha de email marketing, sem o conhecimento e contra a vontade dessa pessoa.
                        De acordo com essa regulamentação, não é permitido enviar email para qualquer lista de email que você tenha recebido ou comprado de terceiros.
                        Essa prática será considerada SPAM, e poderá resultar na suspensão/finalização da sua conta.
                    </p>
                    <p>
                        Scripts de mailing devem ser capazes de gerenciar e registrar toda a informação contida numa lista double opt-in.
                        Isso inclui o processamento de opt-outs (pedidos de exclusão) feitos via web ou email, assim como remoção de endereços que retornarem suas mensagens ou negarem o recebimento (bounce backs).
                        Pedidos de opt-out e remoções por bounce back precisam ser atendidos de maneira ágil.
                        Se for descoberto que você está utilizando um script que não preenche esses requisitos, nos reservamos o direito de suspender, encerrar, ou desativar seu script ou sua conta.
                    </p>

                    <p>
                        Qualquer envio de email não solicitado resultará na suspensão ou encerramento da conta da qual o envio se originou.
                        Temos uma política de tolerância zero no que diz respeito ao envio de emails não-solicitados ou outras formas de SPAM.
                    </p>

                    <p>
                        Todas as listas de email precisam seguir as diretrizes estabelecidas pelo Comitê Gestor da Internet no Brasil (CGI.br).
                        Essas diretrizes estão disponíveis em: <a href="http://www.cgi.br/publicacoes/documentacao/cod-autoreg-email-marketing.htm" target="_blank">http://www.cgi.br/publicacoes/documentacao/cod-autoreg-email-marketing.htm</a>
                    </p>

                    <p>
                        Scripts de mailing que fazem o envio diretamente via SMTP não são permitidos.
                        Exemplos de aplicativos desse tipo são o Darkmailer, The Bat e Carteiro.
                        Todos os emails devem ser enviados através do servidor de emails local / MTA (Mail Transfer Agent) – de modo que o próprio servidor se encarregue da entrega – e não diretamente pelo script de mailing.
                    </p>

                </article>
            </div>
        </div>

    </div>
</div>