<div class="row">
    <div class="span12">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <img src="img/planos.png" alt="Monte seu plano para vender." />
                    <div class="caption slide-1">
                        <h2>Melhores planos<br /> e você ainda cria o seu!</h2>
                        <p>Temos os melhores planos de entrada para você e seu negócio!</p>
                        <a class="btn-theme slide-btn" href="planos">Experimente!</a>
                    </div>
                </li>
                <li>
                    <img src="img/painel.png" alt="Interface fácil, simples e compatível com celulares e tablets." />
                    <div class="caption slide-2">
                        <h2>Painel Simplificado</h2>
                        <p>Criamos uma interface para você administrar sua hospedagem<br /> com toda facilidade, simplicidade e transparência.</p>
                        <a class="btn-theme slide-btn" href="planos">Experimente!</a>
                    </div>
                </li>
                <li>
                    <img src="img/estabilidade.png" alt="Segurança estabilidade com 99% de uptime e suporte especializado 24 hora por dia." />
                    <div class="caption slide-3">
                        <h2>Segurança & Estabilidade</h2>
                        <p>Garantimos um uptime de 99%!<br /> Nosso suporte técnico especializado estão disponíveis 24 horas por dia.</p>
                        <a class="btn-theme slide-btn" href="planos">Experimente!</a>
                    </div>
                </li>
                <li>
                    <img src="img/complexo.png" alt="Cloud Hosting!" />
                    <div class="caption slide-4">
                        <h2>Seu site nas nuvem!</h2>
                        <p>Todos os nossos usuários contam com equipamentos mais recentes<br /> do mercado com o alto desempenho do Hex Core<br /> dedicado com ECC RAM, armazenamento SSD RAID e rede 1Gb/s.</p>
                        <a class="btn-theme slide-btn" href="planos">Experimente!</a>
                    </div>
                </li>
                <li>
                    <img src="img/gratis.png" alt="15 dias grátis!" />
                    <div class="caption slide-5">
                        <h2>Assine agora<br /> e ganhe 15 dias grátis!</h2>
                        <p>Não é necessário deixar seu cartão de crédito nem pagar agora,<br /> basta se cadastrar hoje mesmo e experimentar os 15 dias grátis sem nenhum custo!</p>
                        <a class="btn-theme slide-btn" href="planos">Cadastre-se!</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="row">
    <div class="span12">
        <br />
        <div id="breadcrumb" class="homecrumb">
            <ul>
                <li>Ótimos planos, estabilidade e com 15 dias grátis!</li>
            </ul>
        </div>
    </div>
</div>

<div class="span12">
    <div class="row show-grid">

        <div class="span12">
            <div class="row show-grid price-table-object">
                <div class="dif-table price-table4">

                    <!-- each ($planos) host1 -->
                    <div class="span2 table-column table-column4">
                        <p class="title"><!-- $host1.nome --></p>
                        <p class="cost">R$ <!-- $host1.valor_arredondado --> / mês</p>
                        <ul>
                            <li>Domínios <strong>Ilimitados!</strong></li>
                            <li><strong><!-- $host1.total_email --></strong> contas de e-mail (5 Gbytes)</li>
                            <li><strong><!-- $host1.total_quota_disco --></strong> GBytes de espaço em disco</li>
                            <li><strong><!-- $host1.total_quota_transferencia --></strong> GBytes de transferência mensal</li>
                        </ul>
                    </div>
                    <!-- end host1 -->

                </div>
            </div>
        </div>

    </div>
</div>

<div class="main-content">
    <div class="container">
        <br />
        <p style="text-align: center;">
            <img src="img/formas_pagamento.png" alt="visa, mastercard, dinners, elo, amex, hipercard, aura, pleno, vale, brasil, avista, itau, bradesco, hsbc, boleto, pagseguro" title="Formas de Pagamento" />
        </p>
    </div>
</div>


<div class="row show-grid">
    <div class="span12">
        <br />
        <br />
        <div class="landing-heading" style="border-bottom: 0px;">
            <span style="font-size: 20px; text-align: center; clear: both; display: block; line-height: 24px;"><a href="planos">Saiba mais sobre estes e outros planos!</a></span>
        </div>
    </div>
</div>

<div class="main-block block-posts">

    <div class="row">
        <div class="span12">

            <div class="row show-grid">
                <div class="span4 block-post">
                    <a class="block-post-img" href="#">
                        <img alt="Cloud Hosting!" src="img/performance.jpg">
                    </a>
                    <a class="block-post-title" href="planos">Alta performance, é a liberdade das nuvem!</a>
                    <p class="block-post-content">Todos os nossos usuários contam com equipamentos mais recentes do mercado com o alto desempenho do Hex Core dedicado com ECC RAM, armazenamento SSD RAID e rede 1Gb/s.</p>
                    <a class="block-post-more" href="planos">Experimente »</a>
                </div>
                <div class="span4 block-post">
                    <a class="block-post-img" href="planos">
                        <img alt="Monte seu plano para vender." src="img/flexibilidade.jpg">
                    </a>
                    <a class="block-post-title" href="planos">Melhores planos e você ainda cria o seu!</a>
                    <p class="block-post-content">Temos os melhores planos de entrada para você e seu negócio!</p>
                    <a class="block-post-more" href="planos">Experimente »</a>
                </div>
                <div class="span4 block-post">
                    <a class="block-post-img" href="planos">
                        <img alt="Segurança e estabilidade com 99% de uptime e suporte especializado 24 hora por dia." src="img/impossivel.jpg">
                    </a>
                    <a class="block-post-title" href="planos">Segurança & Estabilidade</a>
                    <p class="block-post-content">Somos capazes de fornecer um SLA de 99% de uptime por conta da nossa infraestrutura, potência e disponibilidade dos nossos servidores. Se não atingirmos essa meta, vamos creditá-lo com base na quantidade de tempo que o serviço não estiver disponível, simples assim!</p>
                    <a class="block-post-more" href="planos">Experimente »</a>
                </div>
            </div>

        </div>
    </div>

</div>