<div class="row">
    <div class="span12">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <img src="img/planos.png" alt="Monte seu plano para vender." />
                    <div class="caption slide-1">
                        <h2>Planos</h2>
                        <p>Temos os melhores planos de entrada para você e seu negócio!</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="span12">
    <div class="row show-grid">

        <div class="span12">
            <div class="row show-grid price-table-object">
                <div class="dif-table price-table4">

                    <!-- each ($planos) host1 -->
                    <div class="span2 table-column table-column4">
                        <p class="title"><!-- $host1.nome --></p>
                        <p class="cost">R$ <!-- $host1.valor_arredondado --> / mês</p>
                        <ul>
                            <li><strong><!-- $host1.total_email --></strong> contas de e-mail (5 Gbytes)</li>
                            <li><strong><!-- $host1.total_quota_disco --></strong> GBytes de espaço em disco</li>
                            <li><strong><!-- $host1.total_quota_transferencia --></strong> GBytes de transferência mensal</li>
                        </ul>
                    </div>
                    <!-- end host1 -->

                </div>
            </div>
        </div>

    </div>
</div>


<div class="main-content">
    <div class="container">
        <br />
        <p style="text-align: center;">
            <img src="img/formas_pagamento.png" alt="visa, mastercard, dinners, elo, amex, hipercard, aura, pleno, vale, brasil, avista, itau, bradesco, hsbc, boleto, pagseguro" title="Formas de Pagamento" />
        </p>
    </div>
</div>

<div class="row show-grid">
    <div class="span12">
        <br />
        <br />
        <div class="landing-heading" style="border-bottom: 0px;">
            <span style="font-size: 20px; text-align: center; clear: both; display: block; line-height: 24px;">Temos o melhor custo x benefício para você!</span>
            <h1 style="font-size: 45px; text-align: center; color: #999999; margin:0 0 10px;">Todos os nosso planos possuem:</h1>
        </div>
    </div>
</div>

<div class="span12">
    <div class="row show-grid">
        <div class="row show-grid clear-both">
            <div>

                <div class="span8 landing-content">
                    <div class="row">
                        <div class="span4">
                            <ul>
                                <li>Domínios <strong>Ilimitados!</strong></li>
                                <li>Bancos de dados MySQL® <strong>Ilimitados!</strong></li>
                                <li>Subdomínios <strong>Ilimitados!</strong></li>
                                <li>Redirecionamentos e grupos de e-mail <strong>Ilimitados!</strong></li>
                                <li>Suporte técnico 24h por dia</li>
                                <li>Editor de registro de DNS avançado</li>
                                <li class="lp-feature">Sem taxa de instalação</li>
                            </ul>
                        </div>
                        <div class="span4">
                            <img src="img/landing-img.png" alt="" />
                        </div>
                    </div>
                </div>

                <div class="span3 download-form">
                    <h2>Comece com 15 dias grátis</h2>
                    <p>Cadastre-se agora, assine um plano de hospedagem e ganhe 15 dias grátis para experimentar nosso serviço.</p>
                    <p></p>
                    <form>
                        <a class="btn-theme slide-btn" href="cadastro">Cadastre-se agora!</a>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>