<div class="row">
    <div class="span12">

        <div class="row">
            <div class="span12">
                <div id="breadcrumb">
                    <ul>
                        <li>Política de Privacidade</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row show-grid clear-both">
            <div class="span12">
                <article>
                    <p>
                        Nós da Insign Digital, desde 01 de julho de 2009, estamos comprometidos com a proteção de quaisquer informações e dados sobre você que venhamos a coletar.
                        Ao utilizar nossos serviços, você concorda com o uso – dentro dos limites e condições impostos por esta Política de Privacidade – dos dados coletados.
                        Estamos firmemente comprometidos com os princípios do programa Safe Harbor estabelecido entre UE-EUA e EUA-Suiça pelo Departamento de Comércio dos EUA, pela União Européia (UE), e pela Suiça.
                        A Insign Digital declarou formalmente sua adesão aos princípios de aviso (notice), escolha (choice), passagem adiante (onward transfer), segurança (security), integridade de dados (data integrity), acesso (access), e execução (enforcement).
                        Mais informações sobre os princípios da certificação Safe Harbor podem ser encontradas em <a href="export.gov/safeHarbor/" target="_blank">export.gov/safeHarbor/</a> (página em inglês).
                    </p>

                    <div class="underlined-title">
                        <h2>Comprometimento com a proteção da sua privacidade</h2>
                        <div class="text-divider5"><span></span></div>
                    </div>
                    <p>
                        Nós coletamos somente informações que são necessárias ao fornecimento de serviços satisfatórios.
                        Esta Política indica o tipo de processos que podem resultar em coleta de informações e dados sobre você.
                        O propósito desta Política de Privacidade é ajudá-lo a compreender que tipos de informações de identificação pessoal (“IIP”) são coletados, como e quando poderemos usar essas informações, quem tem acesso a tais informações, e como você pode corrigir quaisquer imprecisões nessas informações.
                        Para melhor proteger sua privacidade, fornecemos esta declaração explicando nossas práticas de gerenciamento de informação e as escolhas que você pode fazer sobre como informações sobre você serão coletadas e utilizadas.
                        Para que esta declaração seja facilmente encontrada, nós a disponibilizamos em nosso site.
                    </p>

                    <div class="underlined-title">
                        <h2>Informações coletadas</h2>
                        <div class="text-divider5"><span></span></div>
                    </div>
                    <p>
                        Poderemos coletar todos e quaisquer tipos de informações através de meios automatizados como perfis e cookies.
                        As informações de identificação pessoal que podem ser solicitadas dependem do tipo de serviço, natureza do suporte ou interação comercial, e podem incluir nome; endereço residencial/comercial; número de telefone; número de fax; endereço email; datas de contratação e/ou fornecimento de serviços; tipos de serviço fornecidos; histórico de pagamentos; tipo de pagamento; quantidade de pagamentos; data de pagamentos; nome de domínio; informações de crédito ou outras informações de pagamento.
                        Informações financeiras serão repassadas somente para uso na cobrança de serviços e produtos que você adquiriu (ou venha a adquirir).
                        Se adquirir produtos/serviços utilizando cartão de crédito, as informações pertinentes serão repassadas a sua operadora de cartão de crédito.
                        Toda informação sensível é coletada num servidor seguro, para que os dados possam ser repassados.
                        Sempre que estiver repassando informações seguras, um ícone de segurança aparecerá no seu navegador.
                    </p>

                    <div class="underlined-title">
                        <h2>Uso da informação</h2>
                        <div class="text-divider5"><span></span></div>
                    </div>
                    <p>
                        Essas informações são utilizadas para cobrança e para fornecer serviços e suporte aos nossos clientes.
                        Nós poderemos também estudar essas informações para determinar as necessidades dos nossos clientes e para fornecimento de suporte.
                        Todas as precauções razoáveis são tomadas para impedir o acesso não-autorizado a essas informações.
                        Tais salvaguardas podem implicar no fornecimento de formas adicionais de confirmação de identidade caso você queira obter informações sobre os detalhes da sua conta.
                    </p>

                    <div class="underlined-title">
                        <h2>Arquivos de log</h2>
                        <div class="text-divider5"><span></span></div>
                    </div>
                    <p>
                        Utilizamos endereços IP para analisar tendências, administrar nosso site e servidores, rastrear acessos, e coletar amplas informações demográficas para uso agregado.
                        Endereços IP não são vinculados a informações de identificação pessoal.
                        É possível que informações pessoais sobre um consumidor sejam incluídas em arquivos de log devido às funções normais de endereços IP e da navegação na web.
                    </p>

                    <div class="underlined-title">
                        <h2>Cookies</h2>
                        <div class="text-divider5"><span></span></div>
                    </div>
                    <p>
                        O seu navegador de internet conta com a função interna de armazenar pequenos arquivos de texto – "cookies" – que contêm informações que permitem que um site reconheça a sua conta.
                        Nós utilizamos cookies para armazenar suas preferências e informações de login, e fornecer funcionalidades personalizadas.
                        Você pode rejeitar o uso de cookies alterando as configurações do seu navegador, mas saiba que isso desabilitará parte das funcionalidades do site da Insign Digital.
                        Mais informações sobre cookies podem ser encontradas em <a href="http://pt.wikipedia.org/wiki/Cookie" target="_blank">http://pt.wikipedia.org/wiki/Cookie</a>.
                    </p>

                    <div class="underlined-title">
                        <h2>Liberação de informações</h2>
                        <div class="text-divider5"><span></span></div>
                    </div>
                    <p>
                        Nós não liberamos para terceiros quaisquer informações pessoais obtidas sobre você a partir deste site.
                        Isso não se aplica a afiliados que fornecem serviços para você com base em links fornecidos dentro do seu painel de controle, no qual informações serão compartilhadas para facilitar o uso de comodidades incluídas nas nossas contas de hospedagem.
                        Poderemos utilizar informações pessoais para manter contato com você e informá-lo sobre desenvolvimentos relacionados às nossas atividades.
                        Também poderemos liberar dados agregados anônimos, baseados em informações dos nossos usuários, para parceiros em potencial, afiliados, e terceiras partes reputáveis.
                        Tomamos todas as medidas disponíveis para selecionar afiliados e provedores de serviços que são éticos e fornecem um grau de proteção à privacidade similar ao nosso aos seus clientes e comunidade.
                    </p>

                    <div class="underlined-title">
                        <h2>Correção/atualização de informações pessoais</h2>
                        <div class="text-divider5"><span></span></div>
                    </div>
                    <p>
                        Se as informações de identificação pessoal de um cliente mudam, ou se um cliente não mais desejar utilizar nossos serviços, procuraremos fornecer uma maneira de corrigir, atualizar ou remover os dados pessoais daquele cliente conforme constam em nossos registros.
                        Na maior parte dos casos, isso pode ser feito a partir do nosso painel do cliente em <a href="painel">painel.insigndigital.com.br</a>.
                        Do contrário, por favor nos contate através do email contato@insigndigital.com.br.
                    </p>

                    <div class="underlined-title">
                        <h2>Segurança</h2>
                        <div class="text-divider5"><span></span></div>
                    </div>
                    <p>
                        A Insign Digital utiliza medidas técnicas de segurança para impedir a perda, uso indevido, falsificação ou liberação não-autorizada de informações sob nosso controle.
                        A Insign Digital utiliza medidas de segurança que incluem, mas não estão limitadas a: procedimentos físicos, eletrônicos e de gerenciamento para proteger as informações que coletamos online.
                        Quando pedimos aos nossos clientes que forneçam informações financeiras (como número de cartão de crédito), essas informações são protegidas utilizando a tecnologia "SSL" (Secure Sockets Layer).
                    </p>

                    <div class="underlined-title">
                        <h2>Informações e dados enviados a uma outra pessoa ou entidade em nossa rede</h2>
                        <div class="text-divider5"><span></span></div>
                    </div>
                    <p>
                        Como mencionado acima, a Insign Digital coleta certos dados/informações confidenciais de clientes, e esses dados/informações são utilizados no fornecimento de serviços de hospedagem de sites e registro de domínios.
                        É preciso frisar que esta Política de Privacidade se aplica somente aos dados e informações confidenciais fornecidos a nós.
                        Esta Política de Privacidade não se aplica a – e a Insign Digital não declara adesão ao programa UE Safe Harbor no que diz respeito a esse ponto – dados e informações confidenciais que foram fornecidos a outras pessoas ou entidades para as quais a Insign Digital possa fornecer serviços de hospedagem ou registro de domínios, e em relação às quais não exercemos qualquer autoridade ou controle.
                        Uma avaliação independente das políticas de privacidade próprias a essa outra pessoa ou entidade deve ser realizada antes que dados ou informações confidenciais sejam fornecidos a essa outra pessoa ou entidade.
                    </p>

                    <div class="underlined-title">
                        <h2>Cooperação com as leis e instâncias legais</h2>
                        <div class="text-divider5"><span></span></div>
                    </div>
                    <p>
                        Nós cooperamos com oficiais do governo e instâncias legais para executar e cumprir os preceitos da lei.
                        Liberaremos quaisquer informações sobre Usuários mediante uma solicitação válida por parte de oficiais do governo e instâncias legais, já que acreditamos ser necessário e apropriado responder a requerimentos e processos legais (incluindo, mas não limitado a, intimações), de modo a proteger sua propriedade e direitos, ou a propriedade e direitos de terceiros, proteger a segurança do público ou qualquer indivíduo e impedir atividades que consideramos ilegais ou anti-éticas.
                    </p>

                    <div class="underlined-title">
                        <h2>Mudanças nesta Política</h2>
                        <div class="text-divider5"><span></span></div>
                    </div>
                    <p>
                        Quaisquer mudanças em nossa Política de Privacidade serão apresentadas nesta página e tornarão obsoleta a versão atual desta Política, que será sobreposta pela versão modificada.
                        Tomaremos medidas razoáveis para chamar a atenção para quaisquer mudanças em nossa Política de Privacidade.
                        Sugerimos, porém, que você leia este documento sempre que utilizar nosso site, de modo a verificar se ele continua a receber sua aprovação.
                    </p>

                    <div class="underlined-title">
                        <h2>Execução destes preceitos e resolução de disputas</h2>
                        <div class="text-divider5"><span></span></div>
                    </div>
                    <p>
                        A Insign Digital estabeleceu mecanismos internos para verificar sua contínua aderência a esta política de privacidade, incluindo os princípios da certificação Safe Harbor aos quais declaramos nossa adesão.
                        A Insign Digital encoraja todo indivíduo coberto por esta política de privacidade a expressar quaisquer preocupações sobre o processamento e gerenciamento de suas informações pessoais contatando a Insign Digital no email privacidade@insigndigital.com.br
                    </p>
                    <p>
                        A Insign Digital procurará sanar quaisquer preocupações dos seus usuários.
                        A Insign Digital também concordou em participar do programa de resolução de disputas das Autoridades de Proteção de Dados da União Européia.
                    </p>

                    <div class="underlined-title">
                        <h2>Contato</h2>
                        <div class="text-divider5"><span></span></div>
                    </div>
                    <p>
                        Se você tiver quaisquer questões sobre nossa Política de Privacidade, ou desejar saber que informações coletamos sobre você, por favor envie um email para privacidade@insigndigital.com.br.
                        Você também pode corrigir quaisquer erros factuais nas informações fornecidas, assim como solicitar a remoção dos seus dados pessoais de qualquer listagem/registro sob nosso controle.
                    </p>
                </article>
            </div>
        </div>

    </div>
</div>