<div class="row">
    <div class="span12">

        <div class="row">
            <div class="span12">
                <div id="breadcrumb">
                    <ul>
                        <li>Termos de Serviço</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row show-grid clear-both">
            <div class="span12">
                <article>
                    <p>Para utilizar os planos e/ou os serviços da Insign Digital o cliente deve ler e concordar com nossos Termos de Serviço:</p>
                    <div class="underlined-title">
                        <h2>Cadastro</h2>
                        <div class="text-divider5"><span></span></div>
                    </div>
                    <p>
                        Sua conta será ativada após a efetiva logo após o cadastro mediante o recebimento de um e-mail com sua senha.
                        No ato da contratação do serviço o cliente deverá cadastrar um e-mail não pertencente a um dos domínios que irá hospedar em seu plano.
                        Este e-mail será utilizado para comunicação entre a Insign Digital e o cliente, portanto é responsabilidade do cliente manter seu cadastro sempre atualizado.
                        Fornecer falsas informações de identificação resultará no cancelamento de sua conta.
                    </p>
                    <p>
                        Para qualquer tipo de contratação, poderá ser solicitado o envio de informações que comprovem a legitimidade da assinatura.
                        Caso esta solicitação não seja atendida, o pedido poderá ser considerado fraudulento e, conseqüentemente, negado.
                    </p>
                    <div class="alert alert-theme">
                        <h4>Observação</h4>
                        <p>
                            Alguns clientes que utilizam sistemas de e-mail da Microsoft (hotmail.com, outlook.com, live.com, msn.com, etc) têm observado que os e-mails enviados automaticamente por nosso sistema são equivocadamente desviados para a pasta <i>"Lixo Eletrônico"</i>.
                            Caso você utilize um destes provedores de e-mail, certifique-se de adicionar os endereços da Insign Digital em sua lista de "Remetentes confiáveis".
                        </p>
                    </div>

                    <div class="underlined-title">
                        <h2>Conteúdo</h2>
                        <div class="text-divider5"><span></span></div>
                    </div>
                    <p>
                        <b>Não é permitido em hipótese alguma</b> sites de leilões e jogos na hospedagem cloud.
                    </p>
                    <p>
                        Todos os serviços oferecidos pela Insign Digital são para propósitos legais.
                        O cliente deve concordar em isentar a Insign Digital de qualquer responsabilidade pelo uso indevido de seus serviços.
                        É expressamente proibida a utilização de nossos serviços de tal maneira que possam desrespeitar os registros de marcas e patentes e/ou infringir termos de direitos autorais e cessão de propriedade intelectual.
                        Isso inclui - mas não se limita - à divulgação e distribuição não-autorizada de músicas, vídeos, livros, fotografias ou qualquer outro material protegido por lei.
                        O comércio/divulgação de qualquer produto ilícito resultará no imediato cancelamento de sua conta.
                    </p>
                    <p>
                        Se você acredita que seus direitos autorais e/ou marcas registradas estão sofrendo infrações através de serviços contratados junto a nós, por favor envie um e-mail para abuse@insigndigital.com.br com todas as informações pertinentes ao caso. <br />
                        A lista de informações necessárias podem ser encontradas na nossa <a href="abuso">política de direitos autorais</a>.
                    </p>
                    <div class="alert alert-theme">
                        <h4>Materiais inaceitáveis nos planos de hospedagem</h4>
                        <p>
                            Bots de IRC, Scripts de web-proxy e/ou de navegação anônima (anonymizers), programas sem licenças (pirateados), sites e fóruns que distribuam ou divulguem cracks/cheats/warez, arquivos executáveis (*.exe, *.com, *.msi, etc) e de imagens de disco (*.img, *.iso, *.nrg, *.bin, etc), mirrors (espelhamentos de outros sites), repositório de dados, exclusivos serviços de banner-ad (banners rotativos), servidores de afiliação, scripts de topsites, escrow (atividades financeiras que envolvem caução), HYIP/PIAR (High-Yield Interest Programs/Programas de Investimento de Alto Risco) e afins, sites de investimentos como Forex e e-Gold Exchange, AutoSurf (sistemas de trocas de visitas), programas fraudulentos (Bank Debenture Trading Programs, Prime Banks Programs, etc), sites de loterias, MUD/RPG, sites que estimulam racismo/ódio/fanatismo, sites relacionados a "hackerismo", scripts maliciosos (como "IP scanner", ataques de descoberas de senha/brute-force, envio em massa de e-mails), sites que hospedem/divulgem qualquer tipo de malware (pragas virtuais), e todo e qualquer tipo de site que promova/divulgue atividades ilegais.
                        </p>
                    </div>
                    <p>
                        Uma conta hospedagem não pode ser utilizada como um dispositivo de backup/armazenamento (com exceção dos backups de sua própria conta realizados automaticamente pelo Insign Digital).
                        Da mesma forma, não é permitido disponibilizar arquivos para download.
                    </p>
                    <p>
                        Arquivos de video ou musica não podem ser hospedados em planos de hospedagem.
                        A hospedagem não permite arquivos de música e vídeos.
                    </p>

                    <p>
                        Nós nos reservamos o direito de recusar a prestação de serviço ou disponibilidade de recursos a qualquer indivíduo.
                        Qualquer material que julgarmos como sendo obsceno, ilegal ou que viole os presentes termos de serviço será removido dos nossos servidores com ou sem aviso prévio.
                    </p>
                    <p>
                        Há uma tolerância máxima de 48 horas para que o cliente responda qualquer e-mail que lhe for enviado através de nosso sistema de tickets.
                        Deixar de responder um e-mail enviado pelo departamento de denúncias (abuse@insigndigital.com.br) em até 48 horas poderá resultar na suspensão ou encerramento de sua conta.
                        Todos os assuntos relacionados a denúncias devem ser tratados via ticket/e-mail.
                    </p>
                    <p>
                        Se não estiver totalmente seguro sobre a legalidade de hospedar conosco seus sites/serviços, por favor, entre em contato através do e-mail abuse@insigndigital.com.br, descrevendo as funcionalidades de sua atividade e assinalando pontos determinantes que possam ou não gerar dúvidas sobre a aceitação do mesmo.
                        Ficaremos muito satisfeitos em atendê-lo.
                    </p>
                    <p>
                        É expressamente proibida a exploração sexual de menores, incluindo - mas não se limitando a - pornografia infantil, nudez total ou parcial de crianças e adolescentes, pedofilia e afins.
                        Qualquer conta que utilizar nossos serviços para divulgar/hospedar materiais com este tipo de conteúdo será imediatamente suspensa sem aviso prévio e levada ao conhecimento das autoridades competentes.
                    </p>
                    <div class="alert alert-theme">
                        <h4>Nota aos revendedores</h4>
                        <p>
                            Se uma de suas clientes apresentar este tipo de infração, nós iremos suspendê-la e lhe notificar para que você mesmo a encerre.
                            Além disso, iremos monitorar as demais contas, e caso haja uma nova infração deste gênero em sua revenda, sua conta principal poderá ser cancelada.
                        </p>
                    </div>
                    <p>
                        É de absoluta responsabilidade do cliente assegurar-se de que os scripts/programas instalados em sua conta sejam seguros e que as permissões de suas pastas/diretórios estejam definidas corretamente (independente do método de instalação utilizado).
                        Pastas/diretórios devem ser configurados com permissão 775 (ou mais restritiva).
                        Arquivos devem ser configurados com permissão 664 (ou mais restritiva).
                        O cliente é o único responsável por todas as ações decorrentes de utilização de sua conta, e isso inclui a preservação da segurança de suas credenciais de acesso aos sistemas (login/senha).
                        É fundamental que os clientes utilizem sempre senhas seguras.
                        Se uma senha insegura for detectada, sua conta pode ser suspensa até que você defina uma nova senha (comprida, complexa e de difícil dedução).
                    </p>
                    <p>
                        Auditorias periódicas podem ser realizadas em nossos servidores para evitar que senhas inseguras possam ser utilizadas.
                        Se uma auditoria apontar uma senha insegura em sua conta, lhe enviaremos uma notificação com um prazo máximo para alteração da mesma.
                    </p>
                    <p>
                        Recomendamos sempre a utilização de senhas longas (com pelo menos 12 caracteres), alternando entre letras maiúsculas e minúsculas, números e caracteres especiais.
                    </p>

                    <div class="underlined-title">
                        <h2>Política de tolerância zero contra SPAM</h2>
                        <div class="text-divider5"><span></span></div>
                    </div>
                    <p>
                        A Insign Digital defende, apoia e aplica a política de TOLERÂNCIA ZERO contra o envio de e-mails em massa, mensagens não-solicitadas (sejam elas de qualquer espécie e para qualquer propósito) e SPAM.
                        Mecanismos de <i>Safelists</i> e <i>Double opt-in</i> serão considerados e tratados como SPAM.
                        Qualquer conta que for utilizada para enviar SPAM será encerrada com ou sem aviso prévio.
                    </p>
                    <p>
                        Por favor, acesse e conheça nossa <a href="email">política de utilização de e-mails</a>.
                    </p>
                    <p>
                        Sites que fazem anúncios e divulgações através de SPAM (Spamvertised) não podem ser hospedados em nossos servidores.
                        Esta norma inclui - mas não se limita a - SPAM enviados via fax, e-mail, mensagens instantâneas ou Usenet/Newsgroups.
                        Nenhuma organização ou entidade listada pelo <a href="http://www.spamhaus.org/rokso/index.lasso" target="_blank">ROKSO</a> poderá fazer uso de nossos serviços.
                        Qualquer conta que faça com que um dos IPs de nossos servidores sejam inseridos em uma blacklist será imediatamente suspensa e/ou encerrada.
                    </p>
                    <p>
                        A Insign Digital se reserva o direito de solicitar alterações em (ou desativar, se necessário for) qualquer website, conta, base de dados ou outro componente que não esteja em conformidade com as políticas estabelecidas.
                        Nos reservamos ainda o direito de realizar modificações de caráter emergenciais fundamentadas em sensatos critérios.
                    </p>

                    <div class="underlined-title">
                        <h2>Informações sobre pagamentos</h2>
                        <div class="text-divider5"><span></span></div>
                    </div>
                    <p>
                        O modelo de faturamento dos serviços oferecidos pela Insign Digital é o pré-pago sendo cobrado a cada dia de sua utilização numa proporção do valor contratato por dias do mês corrente.
                    </p>
                    <p>
                        A Insign Digital se reserva o direito de, a qualquer momento, alterar os valores dos planos anunciados, de acordo com as tendências do mercado.
                    </p>
                    <p>
                        A inserção de créditos na sua conta será feita por livre e espontânea vontade através de meios de pagamento digital (PagSeguro).
                    </p>

                    <div class="underlined-title">
                        <h2>Cancelamentos e reembolso</h2>
                        <div class="text-divider5"><span></span></div>
                    </div>
                    <p>
                        A Insign Digital se reserva o direito de cancelar a qualquer momento toda e qualquer conta que infrinja nossos termos de serviço.
                        Contas canceladas por quebra dos termos de serviços não terão o dinheiro devolvido.
                    </p>
                    <p>
                        Qualquer atitude desrespeitosa contra os membros de nossa equipe poderá ocasionar a suspensão ou o encerramento de sua conta.
                    </p>
                    <p>
                        Uma vez cancelada uma conta e fazendo uso da garantia de reembolso, esta garantia não se aplicará a contratações futuras realizadas pelo mesmo cliente.
                    </p>
                    <p>
                        Contas suspensas ou encerradas por violarem as cláusulas destes termos de serviço NÃO terão direito à garantia de reembolso.
                    </p>

                    <div class="underlined-title">
                        <h2>Utilização dos recursos</h2>
                        <div class="text-divider5"><span></span></div>
                    </div>
                    <p>
                        Usuários dos planos de hospedagem <b>NÃO</b> podem:
                    </p>
                    <ol>
                        <li>Usar 25% ou mais dos recursos de processamento, memória, uso de disco, link com a Internet, etc. do servidor por períodos iguais ou superiores a 90 segundos. Existem inúmeras causas para que uma conta apresente este mau comportamento, como por exemplo: sites muito populares com grande número de acessos simultâneos, plugins em sistemas de gerenciamento de conteúdo, scripts mal desenvolvidos, CGI scripts, atividades de uso excessivo de FTP, PHP, HTTP, bancos de dados, etc;</li>
                        <li>Rodar aplicativos stand-alone no servidor. Isso inclui todo e qualquer tipo de daemon, como por exemplo IRCd;</li>
                        <li>Executar qualquer tipo de web-spyder ou indexador (incluindo Google Cash / AdSpy);</li>
                        <li>Executar qualquer aplicação que interaja com redes de IRC (Internet Relay Chat);</li>
                        <li>Executar qualquer aplicação bit torrent, tracker e afins. É permitido utilizar links para torrents legalizados, mas não é permitido hospedá-los (armazená-los) em nossos planos de hospedagem;</li>
                        <li>Participar de qualquer atividade de compartilhamento de arquivos (file-sharing) ou atividades peer-to-peer (p2p);</li>
                        <li>Executar qualquer tipo de servidor de jogos, como por exemplo Counter-Strike, Half-Life, BattleField1942, etc;</li>
                        <li>Hospedar quaisquer tipos de programas executáveis (extensão .exe, .com, .bat, etc) que possam ser ou estar contaminados por vírus;</li>
                        <li>Websites ou quaisquer outras aplicações com comportamentos (quaisquer que sejam) incompatíveis com ambiente de hospedagem, onde poderão ser suspensos e convidados a migrarem para um servidor dedicado.</li>
                    </ol>
                    <p>
                        Atenção: Quando fizer uso da função "include" do PHP, passe como parâmetro a localização do arquivo no sistema de arquivos local ao invés de passar uma URL.
                        Ao invés de usar include("http://seudominio.com.br/admin/include.php") use include("./admin/include.php")
                    </p>

                    <div class="underlined-title">
                        <h2>Utilização de tráfego (bandwidth)</h2>
                        <div class="text-divider5"><span></span></div>
                    </div>
                    <p>
                        Cada plano dá direito a utilização de um determinado volume de tráfego mensal (esse volume varia de acordo com o plano contratado).
                        A utilização deste limite de tráfego deve ser igualmente distribuída dentro do mês.
                        Sua conta deve encerrar o mês sem ultrapassar este limite, caso contrário ela será suspensa até que inicie o próximo mês ou sua conta seja migrada para um plano que ofereça mais recursos.
                        Bandwidth é recurso não-cumulativo: tráfego não utilizado dentro do mês não podem ser transferidos para o mês seguinte.
                    </p>

                    <div class="underlined-title">
                        <h2>Garantias de disponibilidade (uptime)</h2>
                        <div class="text-divider5"><span></span></div>
                    </div>
                    <p>
                        Caso sua conta de hospedagem fique indisponível por problemas técnicos/físicos que não estejam cobertos pela garantia de 99% de uptime, você poderá ter direito a créditos para o mês seguinte.
                        A aprovação do crédito fica a cargo da Insign Digital e dependerá das justificativas e comprovações fornecidas.
                        Ferramentas de monitoramento de terceiros podem não ser aceitas como documentação comprobatória, por uma série de fatores, como a capacidade e a disponibilidade da ferramenta.
                        O uptime do servidor é considerado de acordo com as informações fornecidas pelo próprio sistema operacional e pelos serviços disponibilizados (webserver, correio eletrônico, etc).
                        Para solicitar uma avaliação de crédito, por favor, envie um e-mail para contato@insigndigital.com.br informando seu domínio principal e o tempo de downtime observado.
                        Todo contato referente a este assunto deve ser feito através de e-mails.
                        O crédito aprovado será fornecido proporcionalmente ao tempo em que o servidor/serviços tenham ficado indisponíveis.
                    </p>
                    <p>
                        Esta garantia se aplica a planos de hospedagem cloud.
                    </p>

                    <div class="underlined-title">
                        <h2>Backups (cópias de segurança)</h2>
                        <div class="text-divider5"><span></span></div>
                    </div>
                    <p>
                        A Insign Digital NÃO se responsabiliza por arquivos e/ou outros dados armazenados em sua conta.
                        O plano não lhe dá garantias de recuperação de informações perdidas decorrentes de quaisquer eventualidades: use-o por sua conta e risco.
                        O cliente deve concordar em assumir a total responsabilidade sobre os arquivos contidos em nossos servidores, bem como manter suas próprias cópias de segurança (backup) fora do servidor.
                    </p>
                    <p>
                        A Insign Digital mantém ativa uma rotina de backup dos planos de hospedagem.
                        Este procedimento pode não ser garantido, onde o cliente deve concordar em manter em local seguro o seu próprio backup.
                    </p>
                    <p>
                        O cliente não é informado sobre sucesso ou fracasso da rotina de backup.
                        É de responsabilidade do cliente manter a conta dentro dos padrões pre-estabelecidos para backup se necessitar deste recurso.
                        Em caso de dúvidas sobre isso envie um email para nosso suporte questionando se sua conta está contemplada na rotina de backup.
                    </p>

                    <div class="underlined-title">
                        <h2>Revendas: responsabilidade do cliente</h2>
                        <div class="text-divider5"><span></span></div>
                    </div>
                    <p>
                        Os revendedores são responsáveis por fornecer suporte a seus próprios clientes: a Insign Digital NÃO fornecerá suporte direto a clientes de nossos clientes revendedores.
                        A Insign Digital se reserva o direito de recusar qualquer pedido de suporte realizado pelos clientes finais de revendedores: todo pedido de auxílio deve ser feito pelo próprio revendedor e este então é responsável por repassar a solução a seu cliente.
                    </p>
                    <p>
                        Revendedores são responsáveis pelo conteúdo armazenado ou transmitido por sua conta e também pela conta de seus clientes.
                        A Insign Digital não mantém vínculo contratual com nenhum dos clientes finais dos revendedores, e o revendedor compromete-se a se responsabilizar pela ação de qualquer um de seus clientes.
                        Contas que infrinjam nossos termos de serviço devem ser suspensas/canceladas pelo revendedor até que se adéqüem.
                        A Insign Digital se reserva o direito de, com ou sem aviso prévio, tomar as providências cabíveis (e elas incluem suspensão e encerramento) com relação à contas de clientes de nossos revendedores que estejam em desacordo com nossos termos de serviço.
                    </p>

                    <div class="underlined-title">
                        <h2>Planos de hospedagem</h2>
                        <div class="text-divider5"><span></span></div>
                    </div>
                    <p>
                        Recursos de contas compartilhadas não podem ser revendidos.
                        Nenhum cliente de plano de hospedagem pode revender recursos de seu plano.
                        Se você tiver a necessidade de revender planos, recursos, contas, ou serviços, deve cadastrar um plano de revenda e assim o cadastro dos seus clientes.
                        Termos semelhantes a "meu cliente" usados em qualquer um dos meios de contato com a Insign Digital fazendo referências a planos de hospedagem sem revenda serão considerados infração desta cláusula e poderá resultar na suspensão da conta até seja regularizada.
                    </p>

                    <div class="underlined-title">
                        <h2>Alterações de preços</h2>
                        <div class="text-divider5"><span></span></div>
                    </div>
                    <p>
                        A Insign Digital se reserva o direito de a qualquer momento realizar ajustes nos recuros oferecidos e valores dos planos divulgados em www.insigndigital.com.br.
                    </p>

                    <div class="underlined-title">
                        <h2>Indenização</h2>
                        <div class="text-divider5"><span></span></div>
                    </div>
                    <p>
                        O cliente deve concordar em isentar a Insign Digital de todas e quaisquer reivindicações, responsabilidades, perdas, ganhos e gastos (incluindo honorários de causas contra a Insign Digital, seus agentes, clientes, escritórios e funcionários) que possam surgir ou resultar de quaisquer serviços prestados ou executados (ou agendados para execução) ou por qualquer produto comercializado pelo cliente, seus agentes, funcionários ou parceiros.
                    </p>
                    <p>
                        O cliente deve concordar em isentar a Insign Digital de todas e quaisquer responsabilidade decorrentes de:
                    </p>
                    <ol>
                        <li>qualquer dano a pessoa ou propriedade decorrente de comercialização de produtos e/ou serviços divulgados ou distribuídos através dos planos contratados;</li>
                        <li>qualquer material divulgado/distribuído pelo cliente que possa infringir leis nacionais e/ou internacionais, incluindo leis de direitos autorais e propriedades intelectuais;</li>
                        <li>infração de direitos autorais (Copyright);</li>
                        <li>qualquer produto/serviço defeituoso comercializado através dos planos hospedados em nossos servidores;</li>
                    </ol>
                    <p>
                        O cliente é o único responsável por responder pelas ações decorrentes do uso indevido do plano contratado.
                    </p>

                    <div class="underlined-title">
                        <h2>Suporte a aplicações de terceiros</h2>
                        <div class="text-divider5"><span></span></div>
                    </div>
                    <p>
                        A Insign Digital não oferece suporte a aplicações de terceiros, seja em qualquer situação, plataforma ou liguagem de programação (ASP, PHP, .NET, Javascript e etc).
                    </p>

                    <div class="underlined-title">
                        <h2>Outras responsabilidades</h2>
                        <div class="text-divider5"><span></span></div>
                    </div>
                    <p>
                        A Insign Digital não se responsabiliza por quaisquer danos que sua empresa/negócio possam sofrer.
                        A Insign Digital não oferece quaisquer tipos de garantias, implícitas ou explícitas, sobre os serviços que disponibiliza.
                        A Insign Digital não assegura nenhum tipo de garantia de comercialização (ou adequação) para qualquer finalidade.
                        Isto inclui a perda de dados decorrente de atrasos, não-entregas, entregas equivocadas e toda e qualquer interrupção dos serviços causadas pela Insign Digital e/ou seus funcionários.
                    </p>

                    <div class="underlined-title">
                        <h2>Quebra de sigilo para aplicação da lei</h2>
                        <div class="text-divider5"><span></span></div>
                    </div>
                    <p>
                        A Insign Digital pode fornecer todos os dados de qualquer cliente às autoridades competentes para que essas possam tomar as medidas cabíveis de acordo com a legislação em vigor.
                        As informações sobre os dados do cliente podem ser repassados mediante solicitação de órgãos competentes, sem que o cliente esteja ciente ou seja notificado.
                        A Insign Digital tem o absoluto interesse em contribuir para que as leis sejam sempre devidamente cumpridas.
                    </p>

                    <div class="underlined-title">
                        <h2>Mudanças nos Termos de Serviço</h2>
                        <div class="text-divider5"><span></span></div>
                    </div>
                    <p>
                        A Insign Digital se reserva o direito de revisar suas políticas de serviços a qualquer instante, com ou sem aviso prévio.
                    </p>
                </article>
            </div>
        </div>

    </div>
</div>